@use 'faq';
@use 'footer';
@use 'cards';
@use 'variaveis';
@use 'hero';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

body {
    background-image: url(./../../src/images/imagens_republica/estrelas.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: #fff;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 80px;
}